/*global*/
*
{
    margin: 0px;
}
body
{
    width: 850px;
    height: 500px;
    font-family:Helvetica, Arial, sans-serif;
    background-color: #e9ebee;
}
/*header*/
header
{
    background-color: #3c5a98;
    height:65px;
    color: #FFF;
}
.arabicFacebook
{
    float: right;
    margin-top:28px;
    margin-right:10px;
    font-size: 12px;
    text-decoration:none;
    background-color:rgb(58,97,176);
    color: #FFF;
    border:1px solid rgb(41,72,125);
    width: 40px;
    text-align: center;  
}
header>span
{
    font-family: Helvetica;
    float:left;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 60px;
    font-size:27px;
    font-weight: 600;
    width: 40%;
}
.loginIntoUserAccount
{
    direction: ltr;
    float: right;
    font-size: 12px;
    margin-top:12px ;
    margin-right:1px ;
    display:block;
    width: 32%;  
}
div
{
    float: left;
    margin-right: 10px;
   
}

.loginIntoUserAccount label
{
    font-size:9px;
}
.loginIntoUserAccount input
{
    display: block;
    width:100px;
    height: 10px;
    margin-top: 4px;
}
.loginIntoUserAccount input[type="submit"]
{
    width: 40px;
    height: 18px;
    margin-top:15px;
    font-size:10px;
    font-weight: 600;
    background-color:rgb(58,97,176);
    color: #FFF;
    border:1px solid rgb(41,72,125);
    cursor: pointer;
}
.forgetPass
{
    font-size:9px;
    color: #8f93af;
    float: right;
    margin-top: 1%;
    margin-right: 30%;
    text-decoration: none;
}
.forgetPass:hover
{
    text-decoration: underline;
}
/*end of header*/
/*section*/
section
{
    width:40%;
    float: right;
}
h3
{
    margin-top: 15px;
    font-weight: 600;
    color: #333333;
    font-size: 25px;
}
section>span
{
    font-size: 12px;
}
::placeholder
{
    color: #90949c;
    font-size:12px;
}
section form input
{
    padding-left:5px;
    margin-bottom:8px; 
    border:1px solid #CCC ;
    border-radius:3px;
}
input[name="firstName"],input[name="surname"]
{
    width: 120px;
    margin-right: 5px;
    margin-top: 10px;
    height:22px;
}

input[ name="mobileOrEmail"],input[name="newPassword"]
{
    width: 257px;
    height:22px;
}
.ratioAdjust
{
    width:11px;    
}
label
{
    margin-left: 2px;
}
input[name="newPassword"]
{
    margin-bottom: 15px;
}
.containerOfSelector select
{
    float: left;
}
section form .gender,section form .Birthday
{
    color:#90949c;
    font-weight:700;
    font-size: 11px;
    display: block;
}
.gender
{
    margin: 8px 0px ;
}
.Birthday
{
    margin-bottom: 5px;
}
.containerOfGender
{
    width:320px;
    margin-bottom: 10px;
}
label
{
    margin-right: 10px; 
    font-size: 13px;
}
p
{
    font-size:9px;
    color:#777777;
    margin-bottom: 14px;
    font-weight: 400;
    width: 250px;  
}
input[value="Sign Up"]
{
    width:150px;
    height: 25px;
    border-radius: 5px;
    color: #FFF;
    background-color: #6aa455;
    border: 1px solid  #6aa455;
    cursor: pointer;
}
p a
{
    color:#3c5a98;
    text-decoration: none;
    margin-bottom: 14px;
}
p a:hover
{
    text-decoration: underline;
}

/*end of section*/
/*figure*/
figure
{
    width:50%;
}
figcaption
{
    margin-top:3px ;
    margin-left:70px;
    margin-bottom:10px ;
    font-size:12px;
    font-weight: 700;
    display: inline-block;
    width: 300px;
    color: #0e385f;
}
figure img
{   
    width:80%;
    margin-left:70px;
}
/*end of figure*/
